/* keyframes for left-to-right animation */
@keyframes marquee-right {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
  }
  
  /* keyframes for right-to-left animation */
  @keyframes marquee-left {
    0% { transform: translateX(-50%); }
    100% { transform: translateX(0); }
  }
  
  .animate-marquee-right {
    animation: marquee-right 30s linear infinite;
    white-space: nowrap;
  }
  
  .animate-marquee-left {
    animation: marquee-left 30s linear infinite;
    white-space: nowrap;
  }
  